services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      MYSQLHOST: gondola.proxy.rlwy.net
      MYSQLPORT: "15193"
      MYSQLDATABASE: railway
      MYSQLUSER: root
      MYSQLPASSWORD: "urBJcfLzWPrMEnbOvSrbFGXZtHiWBUfZ"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: php -S 0.0.0.0:8000 -t public

  frontend:
    image: nginx:alpine
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - backend
